.card {
    border-radius: 2px;
    width: 200px;
    height: 200px;
    margin: 20px;
    float: left;
  }
  .card .img-container {
    height: 100%;
    text-align: center;
  }
  .card .img-container img {
    width: 95%;
    height: 95%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .card .content {
    padding-left: 20px;
    padding-right: 20px;
  }