.navbar {
    background: darkgray;
    color: white;
    padding: 20px 40px;
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .navbar {
    font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
    font-size: 12px;
    }
}
